/* * Prefixed by https://autoprefixer.github.io * PostCSS: v7.0.29, * Autoprefixer: v9.7.6 * Browsers: last 4 version */
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
/* body */
 body {
     color: #b27ba1;
     background-color: #f3eaf2;
     padding: 0;
     margin: 0;
     font-family: 'Noto Sans JP', sans-serif;
    ;
}
 .container-fluid {
     padding: 0;
     margin: 0;
}
 .row {
     padding: 0;
     margin: 0;
}
 .space {
     padding: 2rem;
}
 .space-top {
     padding-top: 1rem;
}
/* header */
 .navbar {
     background-color: #cabfc7;
}
 .nav-text {
     color: #b27ba1;
     font-weight: bold;
     font-size: 18px;
}
 .navbar-toggler {
     color: #b27ba1;
     font-size: 2rem;
}
 .navbar-nav .nav-item .nav-link:hover {
     color: grey;
}
 .logo:hover {
     color: #b27ba1;
}
 .logo {
     color: #b27ba1;
     font-family: 'Dancing Script', cursive;
     font-size: 2rem;
     font-weight: bold;
}
 .intro {
     font-weight: bold;
     font-size: 4rem;
     font-family: 'Dancing Script', cursive;
}
 .title {
     font-family: "noto sans jp", sans-serif;
     font-weight: bold;
     text-align: center;
     padding-bottom: 20px;
     color: #b27ba1;
}
 @media screen and (max-width:500px) {
     .intro {
         font-weight: bold;
         font-size: 3rem;
         font-family: 'Dancing Script', cursive;
    }
     .title {
         font-family: "noto sans jp", sans-serif;
         font-weight: bold;
         text-align: center;
         padding-bottom: 20px;
         color: #b27ba1;
         font-size: 1rem;
    }
}
 .profile {
     border-radius:50%;
     height: auto;
     max-width: 100%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     border-style: double;
     border-color: #b27ba1;
}
 .title-profile {
     background-color: #cabfc7;
     margin: 0;
     height: 80vh;
}
 @media screen and (max-width:500px) {
     .title-profile {
         background-color: #cabfc7;
         margin: 0;
         height: 100vh;
    }
}
/* section */
/* home */
 #home {
     margin-top: 15%;
     margin-bottom: 5%;
}
 div.aboutme {
     margin-top: 80px;
     border: 20px double #D3D3D3;
     padding: 20px;
     font-size: 20px;
}
/* work history */
 #work-history {
     margin-top: 6%;
     margin-bottom: 5%;
}
 .card-workflow {
     height: 300px;
}
 .margin {
     padding: 0;
     margin: 20px;
}
/* study */
 #study {
     margin-top: 6%;
     margin-bottom: 5%;
}
/* skills */
 #skills {
     margin-top: 6%;
     margin-bottom: 5%;
}
 .pink {
     background-color: #c48b9f;
}
 .purple {
     background-color: #af8eb5;
}
 .grey {
     background-color: #9499b7;
}
 @media screen and (max-width:532px) {
     .card-overflow {
         overflow: scroll;
    }
}
/* references */
 #references {
     margin-top: 6%;
     margin-bottom: 5%;
}
/* contact */
 #contact {
     margin-top: 6%;
     margin-bottom: 5%;
}
/* footer */
 footer {
     background-color: #cabfc7;
     padding-top: 30px;
}
 .socials li a i {
     color: #b27ba1;
     font-size: 2rem;
}
 .socials li a i:hover {
     color: grey;
}
 .link {
     color: #b27ba1;
}
 .link:hover {
     color: grey;
}